<section class="h-100 gradient-form" style="background-color: rgb(192, 37, 110);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6">

                    <div class="text-center">
                        <h1 class="display-4">Registro Vehiculo</h1>
                        <a class="navbar-brand" href="#">
                          <img src="assets/2017.jpg" alt="  " width="500" height="300">
                        </a>
                      </div>

                </div>
              <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                        <form>

                            <div class="form-outline mb-4">
                            <label for="exampleInputEmail1" class="form-label">Matricula Vehiculo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Codigo cliente</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>

                            <div class="form-outline mb-4">
                            <label for="exampleInputEmail1" class="form-label">Modelo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
    
                            <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Marca</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>

                            <div class="form-outline mb-4">
                            <label for="exampleInputEmail1" class="form-label">Tipo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
        
                            <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Descripcion </label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>


                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>

                    </div>
                    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>